# Описание

1. Импорт OSMnx:
- import osmnx as ox импортирует библиотеку OSMnx для работы с данными OpenStreetMap.

2. Определение координат:
- north, south, east, west — это координаты ограничивающего прямоугольника, определяющего область вашей карты. Вы можете использовать онлайн-карты, такие как Google Maps, для определения координат.

3. Загрузка графа:
- graph = ox.graph_from_bbox(north, south, east, west, network_type='drive') загружает карту в виде графа с помощью OSMnx. 
- network_type='drive' указывает, что вы хотите загрузить дорожную сеть. Вы также можете выбрать walk, bike, all или all_private.

4. Визуализация графа:
- ox.plot_graph(graph) визуализирует загруженный граф.

5. Доступ к атрибутам:
- graph.nodes(data=True) и graph.edges(data=True) дают вам доступ к атрибутам узлов и ребер графа соответственно. Вы можете использовать эти атрибуты для дальнейшего анализа и обработки данных.

### Примеры атрибутов вершин и ребер

 ### Вершины:
- 'osmid': Идентификатор вершин в OSM.
- 'x': Координата X (долгота).
- 'y': Координата Y (широта).
- 'highway': Тип дороги, например, 'primary', 'secondary', 'residential'.

 ### Ребра:
- 'osmid': Идентификатор ребра в OSM.
- 'u': Идентификатор начального узла ребра.
- 'v': Идентификатор конечного узла ребра.
- 'length': Длина ребра в метрах.
- 'highway': Тип дороги, например, 'primary', 'secondary', 'residential'.

### Как составить правильно область для графа
Возьмём 2 точки: (51.64, 39.08), (51.63, 39.11). Нам нужно получить параметры для севера, юга, востока и запада. В данном случае это будет распределено так:
```python
north, south, east, west = 51.64, 51.63, 39.11, 39.08
```

In [1]:
import geopandas as gpd
import osmnx as ox

# Определение координаты интересующей области
north, south, east, west = 51.64, 51.63, 39.11, 39.08

bbox = [north, south, east, west]
# Загрузка карты в виде графа
graph = ox.graph_from_bbox(*bbox, network_type='drive')

# ox.plot_graph(graph) # вывод графа
nodes, edges = ox.graph_to_gdfs(graph)

C:\Users\honor\AppData\Local\Temp\ipykernel_9940\352435992.py:9: FutureWarning: The `north`, `south`, `east`, and `west` parameters are deprecated and will be removed in the v2.0.0 release. Use the `bbox` parameter instead. See the OSMnx v2 migration guide: https://github.com/gboeing/osmnx/issues/1123
  graph = ox.graph_from_bbox(*bbox, network_type='drive')
C:\Users\honor\AppData\Local\Temp\ipykernel_9940\352435992.py:9: FutureWarning: The expected order of coordinates in `bbox` will change in the v2.0.0 release to `(left, bottom, right, top)`.
  graph = ox.graph_from_bbox(*bbox, network_type='drive')

In [2]:
nodes.head()

                    y          x  street_count                   geometry
osmid
1094702179  51.633671  39.089269             3  POINT (39.08927 51.63367)
1094702232  51.632397  39.092414             3  POINT (39.09241 51.63240)
1094702238  51.634996  39.093044             4  POINT (39.09304 51.63500)
1094702242  51.637839  39.092885             3  POINT (39.09289 51.63784)
1094702248  51.634206  39.094633             4  POINT (39.09463 51.63421)

In [3]:
edges.head()

                               osmid lanes                name      highway  \
u          v          key
1094702179 1094702645 0     94179683     1     Рябиновая улица  residential
           1094702592 0     94179678     1  Владимирская улица  residential
           1094702944 0     94179678     1  Владимирская улица  residential
1094702232 1094702422 0    237963193     1     Тополиная улица  residential
           1094702830 0    237963196     1     Тополиная улица  residential

                           oneway reversed   length  \
u          v          key
1094702179 1094702645 0     False     True  276.299
           1094702592 0     False    False  102.618
           1094702944 0     False     True   78.247
1094702232 1094702422 0     False     True  237.579
           1094702830 0     False    False   90.615

                                                                    geometry
u          v          key
1094702179 1094702645 0    LINESTRING (39.08927 51.63367, 39.09156 51.63571)
           1094702592 0    LINESTRING (39.08927 51.63367, 39.08917 51.633...
           1094702944 0    LINESTRING (39.08927 51.63367, 39.08909 51.634...
1094702232 1094702422 0    LINESTRING (39.09241 51.63240, 39.09571 51.63302)
           1094702830 0    LINESTRING (39.09241 51.63240, 39.09112 51.63228)